.logo{
  position: absolute;
  left: 50%;
  margin-left: -50px; /* 50% of your logo width */
  display: block;
}
.social-icons-nav a{
  color: white;
  padding-left: 15px;
  font-size: 15px;

  }
.social-icons a:hover{
  color: #000;
  }

.logo a{
  font-size: 20px;
  
  }

.social-icons a:hover{
  color: #000;
  } 
.navbar{
  background-color: #2a2727 ; 
}
.bg-color{
  background-color: #2a2727;
}
#carousel-hero{
  height: max-content;
}
.carousel-hero{
  height: max-content;
}
.menu-card{
  
  background-color: #2a2727;
 
}
.custom-bg-color{
  background-color: #2a2727;
  
}

/* Menu */

.menu-body {
  background-color: hsla( 41.53846154,39.39393939%,93.52941176% ,1)  ;
  color: #000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-position: center; 
  
}
footer {
   background-color: #333;
   color: #fff;
   padding: 20px 0;
  }
.social-icons a {
  color: white;
  padding-left: 15px;
  font-size: 20px;

  }
.social-icons a:hover{
  color: #000;
  }
  .list-group-item{
  border: none;
} 
@media (max-width: 600px) {
  .custom-bg-color {
      background-color: black;
  }
}
  
  
 

